*{
  box-sizing: border-box;
}

body {
background-image : url(../../images/fondo/dust.png);
border-image: url(border.png) 50round;
font-family: sans-serif, cursiva;
size:auto;

}
.contenido{
  size:auto;
  width: auto;
  height: auto;
}

.titulo p{
  width: auto;
  height: auto;
}

.firma {
  font-size: 20px;
  background: none;
  color: rgba(112, 0, 37, 0.7);
  display: inline-block;
  border: none;


}

.logo{
  background-image: url(../../images/fotos/logo.jpg);
  width: auto;
  height: auto;
  border-radius: 100px;
  border-color: purple;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
}

h1{
  background: linear-gradient(to top left, #FF9980 0%, #e9e7e8 100%);
  color: #700025;
  font-family: 'Parisienne', cursive;
  font-size: 55px;
  border: solid 1.5px #ff9999;
  border-top: solid 1.5px #ff9999 ;
  border-bottom: solid 1.5px #ff9999 ;
  border-left: none ;
  border-right: none ;
  border-width: 1.5px;
  line-height: 73px;
  height: auto;
  width: auto;
  vertical-align: middle;
  text-align: center;
}

nav{
list-style: georgian;
border: solid 1.5px #ff9980;
border-top:  solid 1.5px #ff9980;
border-bottom: solid 1.5px #ff9980;
border-left: none;
border-right: none;
background-color:#e9e7e8;
}

.barranavegacion{
  width: 100%;
  height: 60px;
  display: inline-block;
}

.listanavegacion{
  text-decoration: underline;
  color: rgb(130, 7, 47);
  font-family: 'Merienda', cursive;
  padding-right: 20px;

  font-size: 33px;
  text-decoration: none;
  border-right: solid 1.5px #82072F;
  margin-right: 40px;
  margin-left: 20px;
}

.navegacion li{
  display: inline-block;
  margin: auto;
  text-align: center;
  width: auto;
}

li{
  width: auto;
  height: auto;
  margin:0px;
}

div.contenido{
  background-image : url(../../images/fondo/dust.png);
}

.competenciasDelphine{
  height: auto;
  width: auto;
  z-index: 0;
  background-color: rgba(255, 153, 128, 0.41);
  background: cover;
  margin: auto;
  border-radius: 10px;
  display:inline-block;
}

h2{
  text-align: center;
  font-family: 'Parisienne', cursive;
  color: #700025;
  font-size: 40px;
  background-color: #e9e7e8;
  border-top: solid 1.5px #ff9980;
  border-bottom:  solid 1.5px #ff9980;
  border-left: none;
  border-right: none;
  width: auto;
  text-align: center;
  display: block;
}
 .trabajos{
  height: auto;
  width: auto;
  border-radius: 10px;
  position: absolute;
  z-index: 0;
  background-image : url(../../images/fondo/dust.png);
  margin: auto;
}

img{
border-radius: 10px;
display: block;
}

h3{
  font-family: 'Kalam', cursive;
  font-size: 45px;
  color:#700025;
  margin-bottom: 17px;
  display: inline-block;
  text-align: center;

}

.peinados, .maquillaje, .asesoriadeimagen{
  height: auto;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  float: left;
  width: auto;
}

.peinados p .maquillaje p .asesoriadeimagen p{
display: inline-block;
}

p{
  font-family: 'Niconne', cursive;
  font-size: 35px;
  padding-left: 13px;
  display: block;
  border-top: solid 1.5px #ff9980;
  border-bottom: solid 1.5px #ff9980;
  background-color: #e9e7e8;
}

.trabajos p{
  display: inline-block;
  width:auto;
  height: auto;
  bottom: 56px;
  position: absolute;
  overflow: auto;
}

.mariageenbeaute{
  background-color: rgba(255, 153, 128, 0.41);
  width: auto;
  height: auto;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: auto;
}
.Mariage_pie{
  background-color: white;
  text-align: center;
  display: inline-block;
}

.texto{
  font-size: 20px;
}

.texto p{
  width: auto;
  margin: auto;
  background-image : url(../../images/fondo/dust.png);
  text-align:left;
  font-family: 'Merienda', cursive;
  font-size: 20px;
}

footer{
  width: 100%;
  height: 25px;
  display: inline-block;
  margin-top: 15px;
}

div.footer{
  width: 100%;
  margin: auto;
  color: #700025;
  text-align: center;
}

.footer a{
  color:#700025;
}
.respuestaFaq{
  font-size: 60px;
}

@media (max-width: 1340px){
  .listanavegacion{
    text-decoration: underline;
    color: rgb(130, 7, 47);
    font-family: 'Merienda', cursive;
    padding-right: 20px;

    font-size: 33px;
    text-decoration: none;
    border-right: none;
    margin-right: 40px;
    margin-left: 20px;
  }
}


}
