/* *{
  box-sizing: border-box;
  overflow: hidden;
}*/

/*Tipografias y títulos
========================*/
body {
  font-family: "Open Sans";
}

h1, h3, .main-description, .sign {
  font-family: Parisienne;
  color: #FF9980;
}

.main-description {
  font-size: 55px;
}

aside a, i {
  color: #aaa;
}

.listanavegacion {
  color : #aaa;
}

/* Estilos principales
==============================*/
 /*Main description*/
 .main-description {
  margin-top: -30px;
 }

 .center {
   position: relative;
 }

 .sign {
   position: absolute;
   right: 0;
   bottom: -17px;
 }


/*aside*/
.left-col ul,
.right-col ul {
  padding-left: 0;
  overflow: hidden;
}

.left-col ul li {
  list-style-type: none;
  float: left;
}

.right-col ul {
  text-align: right;
}

.right-col .login li {
    list-style-type: none;
    text-align: right;
    display: inline-block;
}

.separator {
  margin: 0 10px;
}

.left-col .social li {
  margin-right: 10px;
}


/* Search
=============*/
.search {
  position: relative;
}
.search input {
  padding-right: 30px;
}
.fa-search {
  position: absolute;
  right: 10px;
  top: 9px;
}

/* Barra de navegacion
=============*/
.navbar-nav {
  position: relative;
  display: block;
  width: 100%;
}

.navbar-default {
  background-color: inherit;
  border-color: transparent;
  margin-top: 20px  ;
}

.navbar-nav ul {
  padding-left: 0;
}

.navbar-nav li {
  list-style-type: none;
}

.navbar-nav a {
  font-size: 15px;
  color : black;
  padding: 10px 15px;
}

/* Main
================================*/
main {
  background-color: white; /* Otras colores posibles #e7ece6 #FF9980 */
  margin-top: 20px;
}

/* en el formulario */
.main_registro{
  background-color: white; /* Otras colores posibles #e7ece6 #FF9980 */
  margin-top: 20px;
  position: relative;
  box-sizing: border-box;
}

main h1 {
  margin-top: 28px;
}

/* formulario
================================*/
.formulario{
  background-color: white; /* Otras colores posibles #e7ece6 #FF9980 */
  /*height: 377px; No hacer*/
  margin-top: 20px;
}

.login{
  background-color: white;
}

.cover-title, .cover_p {
  color: #aaa;
}

.carousel-inner .item img {
  height: 266px;
  margin-left: 900px;
}

.carousel-caption h3 {
  margin-bottom: 24px;
  font-size: 35px;
  font-weight: bold;
  color: #e7ece6;
}

.carousel-caption a {
  color: #e7ece6;
  text-decoration: none;
}

.container .row .col-xs-12 {
  background-color: black;
}
/* Contenido
================================*/
h2 {
  font-family:'Lora', serif;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  color: black;
}

em {
  /*color :#e7ece6;*/
  font-family: Parisienne;
  font-size: 22px;
  color: #FF9980;
}

.articulos h4 {
  font-family: 'Arimo', sans-serif;
  font-style: italic;
  font-weight: bold;
  color : #FF9980;
}

.glyphicon-menu-left {
  margin-left: 60px;
}

.testimonios p{
  margin :0;
}

.fa-quote-right {
  font-size: 50px;
  margin-left: 200px;
  color : #e7ece6;
}

/* Footer
================================*/
footer {
  background-color: #e7ece6;
}

footer .row {
  background-color: #e7ece6;
}

footer .left-col ul,
footer .right-col ul {
  padding-left: 0;
  overflow: hidden;
  color : #aaa;
}

footer .left-col ul li {
  list-style-type: none;
  float: left;
}

footer .right-col ul {
  text-align: left;
}

footer .right-col .copyright li {
    list-style-type: none;
    text-align: left;
    display: inline-block;
}

footer .separator {
  margin: 0 10px;
}

footer .left-col .social li {
  margin-right: 10px;
}


/* Formularios
================================*/
.Formulario_registro label {
  height: 30px;
  font-size: 18px;
}

.campos {
  border-color: #FAA996;
  border-radius: 80px;
  width: 250px;
}

.formulario button {
  width: 100px;
  height: 26px;
  margin-bottom: 35px;
}

.login button {
  width: 100px;
  height: 26px;
  margin-top: 20px;
}
/* Media Querys
================================*/
@media (min-width: 1200px) {
  .sign {
    right:48px;
  }
}

@media (min-width: 768px) {
  .navbar-nav li {
    width: 20%;
  }
}

@media (max-width: 991px){
  .main-description {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .main-description {
    margin-top: 0;
  }
}
