/*Tipografias y títulos
========================*/
body {
  font-family: "Open Sans";
}

h1, h2, h3, .main-description, .sign {
  font-family: Parisienne;
  color: #FF9980;
}

.main-description {
  font-size: 55px;
}

aside a, i {
  color: #aaa;
}

.listanavegacion {
  color : #aaa;
}

/* Estilos principales
==============================*/
 /*Main description*/
 .main-description {
  margin-top: -30px;
 }

 .center {
   position: relative;
 }

 .sign {
   position: absolute;
   right: 0;
   bottom: -17px;
 }


/*aside*/
.left-col ul,
.right-col ul {
  padding-left: 0;
  overflow: hidden;
}

.left-col ul li {
  list-style-type: none;
  float: left;
}

.right-col ul {
  text-align: right;
}

.right-col .login li {
    list-style-type: none;
    text-align: right;
    display: inline-block;
}

.separator {
  margin: 0 10px;
}

.left-col .social li {
  margin-right: 10px;
}


/* Search
=============*/
.search {
  position: relative;
}
.search input {
  padding-right: 30px;
}
.fa-search {
  position: absolute;
  right: 10px;
  top: 9px;
}

/* Barra de navegacion
=============*/
.navbar-nav {
  position: relative;
  display: block;
  margin-top: 20px;
}

.navbar-nav ul {
  padding-left: 0;
}
.navbar-nav li {
  display: inline-block;
  list-style-type: none;
}

.navbar-nav a {
  font-size: 15px;
  color : black;
  margin-right: 70px;
  /*margin-left: 15px;*/
}

/* Main
================================*/
main {
  background-color: black; /* Otras colores posibles #e7ece6 #FF9980 */
  height: 266px;
  margin-top: 20px;
}

main h1 {
  margin-top: 28px;
}

.cover-title, .cover_p {
  color: #aaa;
}

.carousel-inner .item img {
  height: 266px;
  margin-left: 900px;
}

.carousel-caption h3 {
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: bold;
}

.carousel-caption a {
  color: #FF9980;
  text-decoration: none;
}

/* Contenido
================================*/
h2 {
  font-size: 35px;
  font-weight: bold;
  color: #e7ece6;
}

.articulos h4 {
  font-family: 'Arimo', sans-serif;
  font-style: italic;
  font-weight: bold;
}

.glyphicon-menu-left {
  margin-left: 60px;
}

.testimonios p{
margin :0;
}

.fa-quote-right {
  font-size: 50px;
  margin-left: 200px;
  color : #e7ece6;
}

/* Footer
================================*/
footer {
  background-color: #e7ece6;
  display: inline-block;
}

footer .left-col ul,
footer .right-col ul {
  padding-left: 0;
  overflow: hidden;
  color : #aaa;
}

footer .left-col ul li {
  list-style-type: none;
  float: left;
}

footer .right-col ul {
  text-align: left;
}

footer .right-col .copyright li {
    list-style-type: none;
    text-align: left;
    display: inline-block;
}

footer .separator {
  margin: 0 10px;
}

footer .left-col .social li {
  margin-right: 10px;
}


/* Formularios
================================*/
/*!!!!!!Cambiar el background-color del main de los formularios de registro y login */ 
.Formulario_registro label {
  height: 30px;
  font-size: 18px;
}
.campos {
  border-color: #FAA996;
  border-radius: 80px;
  width: 250px;
}
.formulario button,
.login button {
  width: 100px;
  height: 26px;
}
/* Media Querys
================================*/
@media (min-width: 1200px) {
  .sign {
    right:48px;
  }

}
@media (max-width: 991px){
  .main-description {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .sign {

  }
  .main-description {
    margin-top: 0;
  }
}
